<input type='text' data-rv-input='model.<%= Formbuilder.options.mappings.LABEL %>' />
<p>Optional:</p>
<input type='text' data-rv-input='model.<%= Formbuilder.options.mappings.AUDIO %>' placeholder='MP3 File' />
<input type='text' data-rv-input='model.<%= Formbuilder.options.mappings.IMAGE %>' placeholder='Image File' />
<input type='text' data-rv-input='model.<%= Formbuilder.options.mappings.LINK %>' placeholder='Image Link' />
<textarea data-rv-input='model.<%= Formbuilder.options.mappings.DESCRIPTION %>'
  placeholder='Add a longer description to this field'></textarea>
