.directory-archive {

	&__hero {
		align-items: center;
		background-position: center center;
		background-size: cover;
		display: flex;
		height: 350px;
		justify-content: center;
		position: relative;
		text-align: center;
		width: 100%;

		@include bp(medium) {
			height: 500px;
		}
	}

	&__title-wrapper {
		max-width: 1010px;
		padding: 0 20px;
		width: 100%;

		@include bp(medium) {
			padding: 0 40px;
		}
	}

	&__title {
		color: $color-text-white;
		font-size: 42px;
		font-style: italic;
		font-weight: 400;
		line-height: 1.2;
		margin: 0;

		@include bp(medium) {
			font-size: 54px;
		}
	}

	&__intro {
		font-size: 16px;
		line-height: 1.5;
		margin: 0 auto;
		max-width: 1010px;
		padding: 20px 20px 0 20px;
		text-align: center;

		@include bp(medium) {
			font-size: 18px;
			padding: 30px 40px 0 40px;
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		max-width: 1010px;
		padding: 30px 20px 40px 20px;

		@include bp(medium) {
			padding: 30px 40px 40px 40px;
		}
	}
}