.carousel {

	@media(--max-medium-viewport) {
        margin-right: -1.3rem;
    }

    & .flickity-prev-next-button.previous {
		visibility: hidden;

		@media(--min-vxlarge-viewport) {
			visibility: visible;
		}

		@media(--min-vxlarge-viewport) {
			left: -60px;
		}
        
    }

    & .flickity-prev-next-button.next {
		visibility: hidden;

		@media(--min-vxlarge-viewport) {
			visibility: visible;
		}

		@media(--min-vxlarge-viewport) {
			right: -60px;
		}
    }

	&.large {
		
		& .carousel-cell {
		width: calc(75% - 5px);
		margin-right: 5px;

		@media(--min-medium-viewport) {
			width: calc(25% - 5px);
		}

		}
	}
  
	&.small {

		& .carousel-cell {
			width: calc(75% - 10px);
			margin-right: 5px;

			@media(--min-medium-viewport) {
				width: calc(16.66% - 5px);
			}

			& .post-title h3 {
				font-size: 1.125rem;
			}
		}
	}
}