.featured__article--heading,
.featured__content--title {
	text-transform: uppercase;
}

.featured__article:hover .featured__article--heading,
.featured__content--block:hover .featured__content--title,
a:hover .highlights__community--title
{
	color: #c42032;
}

.show__header {
	background-color: #c42032;
}

@include bp(large) {

    .main {
        background-image: url("../../images/kklz-wallpaper-2017.jpg");
        background-position: top center;
        background-repeat: no-repeat;
				background-color: #000000;
    }

}
//// Sept 2017 Updates - Made in Detroit

.header__main.headroom
{background-color: transparent!important;background-image: url(../../images//KKLZ-Top-Navigation8.jpg)!important; background-position: top center;background-size: cover;background-repeat: no-repeat;}

@media screen and (min-width: 768px)  {.header__main.headroom
{background-color: #25BADA!important;background-image: url(../../images/KKLZ-Top-Navigation8.jpg)!important; background-position: top center;background-size: auto;}}

  .header__search
{ color: #ffffff;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  text-transform: uppercase!important;}

 .header__nav ul li
{
 background-color: #ffc425 ;
}



.mobile-nav__toggle--span, .mobile-nav__toggle--span::after, .mobile-nav__toggle--span::before
  {background-color: #ffcd05!important;}
