.live-player {
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 10;
	box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.2), 
				inset 0px 2px 0px rgba(255, 255, 255, 0.25);
}

.live-player-volume {
	align-self: center;
	line-height: 0;
}

.live-player-contacts {
	display: flex;
	line-height: 0;
	min-width: 89px;
	justify-content: center;
	border-left: 1px solid rgba(229, 229, 229, 0.4);

	& .live-player-control-button {
		align-self: center;
	}
}

.live-player-station {
	display: flex;
	min-width: 194px;
	justify-content: center;
	border-left: 1px solid rgba(229, 229, 229, 0.4);

	& .live-player-control-button {
		align-self: center;
		line-height: 1;
		height: auto;
		color: var(--global-theme-font-tertiary);
	}
}

.live-player-control-button {
	background: none;
	border: 0;
	padding: 0;
	height: 20px;

	& svg {
		fill: var(--global-theme-font-tertiary);
	}
}

.offline {
	background: var(--global-theme-primary);
	min-height: 58px;
	display: flex;
	justify-content: flex-start;
	padding: 0 3rem;
	position:relative;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: -10px;
		width: 0;
		height: 0;
		left: 50%;
		transform: translateX(-50%);
		border-left: 10px solid transparent;
  		border-right: 10px solid transparent;
		border-top: 10px solid var(--global-theme-primary);
	}

	& .offline-title,
	& .offline-description {
		align-self: center;
	}

	& .offline-title {
		color: var(--brand-primary);
		font-weight: 500;
		margin-right: 1rem;
	}

	& .offline-description {
		color: var(--global-theme-font-primary);
	}
}

.controls {
	align-content: center;
	background-color: var(--global-theme-secondary);
	display: flex;
	justify-content: space-between;
	min-height: 84px;

	& .controls-wrap {
		display: flex;
	}
}

.play-btn,
.pause-btn,
.resume-btn,
.loading-btn {
	display: none;
}

.LIVE_PAUSE .resume-btn,
.LIVE_PLAYING .pause-btn,
.LIVE_STOP .play-btn,
.LIVE_FAILED .play-btn,
.LIVE_BUFFERING .loading-btn,
.LIVE_CONNECTING .loading-btn,
.LIVE_RECONNECTING .loading-btn,
.STREAM_GEO_BLOCKED .play-btn,
.STATION_NOT_FOUND .play-btn {
	align-items: center;
	background-color: var(--brand-primary);
	cursor: pointer;
	display: flex;
	height: 52px;
	justify-content: center;
	width: 52px;
	border-width: 1px;
	border-color: var(--global-divider);
	margin: 0 1rem;

	&.btn-offline {
		opacity: 0.7;
		cursor: not-allowed;

		& svg {
			transform: translateX(0);
		}
	}

	& svg {
		fill: var(--brand-tertiary);
		transform: translateX(10%);
	}
}

.live-player-status {
	align-self: center;
}

/* .live-player {
	background-color: var(--global-theme-secondary);
	bottom: 0;
	left: 0;
	position: fixed;
	min-height: 84px;
	right: 0;
	z-index: 50;

	&.-shadow {
		box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.2), 
				inset 0 2px 0 rgba(255, 255, 255, 0.25);	
	}

	& .-section {
		border-left: 1px solid var(--global-divider);
	}

	& .-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	& .live-player-modal {
		background: var(--global-theme-secondary);
		position: absolute;
		top: -270px;
		right: 1%;
		width: 20%;
		
		padding: 1rem;

		& .live-player-modal-image {
			margin-bottom: 0;
			width: 100px;
		}

		& .live-player-modal-text {
			margin-bottom: .5rem;
			& a {
				color: var(--global-theme-font-tertiary);
			}
		}

	}

	& .live-player-button {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border: 0;
		border-left: 1px solid #E5E5E5;
		background-color: #F6F6F6;
		transition: background-color 300ms ease-in-out;
		line-height: 0;

		&:hover,
		&:focus {
			outline: 0;
			background-color: #F1F1F1
		}

	}

	& .live-player-status {
		display: flex;
		align-items: center;
	}

	& .live-player-info {
		display: flex;
		align-items: center;
		flex: 0 1 436px;
		order: 2;

		@media(--min-medium-viewport) {
			order: 0;
		}
	}

	& .live-player-info-meta {
		color: var(--global-theme-font-primary);
		padding: 0 1.5rem;

		& strong {
			font-size: 1rem;
		}

		& span {
			display: block;
			font-size: 1rem;
		}

		& .live-player-info-live {
			display: inline;
			border: 1px solid var(--brand-primary);
			text-transform: uppercase;
			font-weight: 300;
			color: var(--brand-primary);
			font-size: 13px;
			padding: 1px 5px;
			margin-left: 8px;
			font-weight: 400;
		}
	}

	& .live-player-user-controls {
		display: flex;
		justify-content: center;
		order: 1;
		
		@media(--min-medium-viewport) {
			flex: 0 1 626px;
			order: 0;
		}
	}

	& .live-player-recents {
		display: none;
		@media(--min-medium-viewport) {
			display: flex;
			align-items: center;
		}
	}

	& .live-player-volume {
		display: none;

		@media(--min-medium-viewport) {
			display: flex;
			align-items: center;
			position: relative;
		}

		& .live-player-audio-input {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: calc(100% + 12px);
			width: 100px;
		}
	}

	& .live-player-station {
		display: none;

		@media(--min-medium-viewport) {
			display: inline-flex;
			flex: 0 1 186px;
			font-size: 15px;
			font-weight: 600;
		}
	}

	& .live-player-contacts {
		flex: 0 1 89px;
		order: 3;

		@media(--min-medium-viewport) {
			order: 0;
		}
	}

	& .live-player-sponsor {
		display: none;

		@media(--min-medium-viewport) {
			display: inline-flex;
			flex: 0 1 361px;
			border-left: 0;
			justify-content: flex-end;
			padding: 0 1.5rem;
		}

		& .live-player-sponsor-text {
			text-transform: uppercase;
			font-weight: 300;
			font-size: 15px;
			margin-bottom: 0;
			color: var(--global-theme-font-primary);

			& strong {
				text-transform: none;
				color: var(--global-theme-player-link);
			}
		}
	}

	& .live-player-control-button {
		background: none;
		border: 0;
		color: var(--global-theme-font-secondary);
		cursor: pointer;
		line-height: 0;
		padding: 0;

		&.-pronounced {
			font-weight: 600;
		}

		& .caret {
			color: var(--brand-primary);
			margin-left: 8px;
		}

		& .divider {
			color: var(--global-theme-font-primary);
			font-weight: 800;
			margin: 0 5px;
		}

		& svg path,
		& svg rect {
			fill: var(--global-theme-font-tertiary);
			stroke: var(--global-theme-font-tertiary);
			transition: stroke 300ms ease-in-out, 
						fill 300ms ease-in-out;
		}

		&:hover,
		&:focus {
			outline: 0;
			& svg path,
			& svg rect {
				fill: var(--brand-primary);
				stroke: var(--brand-primary);
			}
		}

		&.-icon-highlight {
			& svg path {
				stroke: var(--brand-primary);
				fill: var(--brand-primary)
			}
		}
	}
}

.play-btn {
	@media(--min-medium-viewport) {
		margin: 0 2rem;
	}
}

.play-btn,
.pause-btn,
.resume-btn,
.loading-btn {
	display: none;
}

.LIVE_PAUSE .resume-btn,
.LIVE_PLAYING .pause-btn,
.LIVE_STOP .play-btn,
.LIVE_FAILED .play-btn,
.LIVE_BUFFERING .loading-btn,
.LIVE_CONNECTING .loading-btn,
.LIVE_RECONNECTING .loading-btn,
.STREAM_GEO_BLOCKED .play-btn,
.STATION_NOT_FOUND .play-btn {
	align-items: center;
	background-color: var(--brand-primary);
	cursor: pointer;
	display: flex;
	height: 48px;
	justify-content: center;
	width: 48px;
	border-width: 1px;
	border-color: var(--global-divider);

	@media(--min-medium-viewport) {
		height: 64px;
		width: 64px;
	}

	& svg {
		fill: var(--brand-tertiary);
		max-height: 26px;
		transform: translateX(10%);
		@media(--min-medium-viewport) {
			max-height: 31px;
		}
	}
}

.cue-point-title {

}

.cue-point-artist {

}

.cue-point-title + .cue-point-artist:before {
	content: '-';
	margin: 0 10px;
}

.controls {
	box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.2), inset 0px 2px 0px rgba(255, 255, 255, 0.25);
	display: flex;
	min-height: 84px;
	position: relative;
	padding: 12px 0 12px 12px;
	@media(--min-medium-viewport) {
		padding: 0;
	}
}

.wp-audio-shortcode,
iframe[src^="https://omny.fm"] {
	display: none;
}

.jacapps {
	& .wp-audio-shortcode,
	& iframe[src^="https://omny.fm"] {
		display: block;
	}
}

.offline-title {
	color: var(--global-theme-font-primary);
	font-weight: 600;
} */
