.category-archive-page {
	& .content-wrap {
		max-width: 1420px;
	}
	& .section-head {
		width: 100%;
		text-transform: uppercase;
		font-weight: 900;
		color: #000;
		
		@media(--max-xmedium-viewport) {
			text-align: center;
			font-size: 32px;
		}

		& span {
			font-size: 32px;
			
			@media(--max-xmedium-viewport) {
				padding-left: 0;
				padding-right: 0;
			}
		}
		& span.bigger {
			& span {
				font-size: 48px;
			}
		}
		&:after {
			background-color: #dc3f3a;
		}
	}
	& .archive-tiles {
		& [class*="-title"] {
			& a {
				font-size: 24px;
			}
		}
		& > ul {
			& > li.bg-red {
				background: hsl(0deg 100% 50% / 10%);

				& .post-title {
					padding: 0.7rem 15px 0;
				}
			}
			& > li.bg-red-thumbnail {
				background-clip: content-box;
			}
		}
		& .post-title {
			& h3 {
				margin-bottom: revert;
			}
		}
	}
	& .list-grid {
		& ul {
			padding: 0;
			list-style: none;
			margin: 0;
			& li {
				border-bottom: 1px solid #ddd;
				padding-top: 0.7rem;
				&:first-child {
					padding-top: 0;
				}
				& .post-title {
					& h3 {
						& > a {
							font-size: 20px;
							font-weight: 500;
							line-height: 1.3;
							margin-bottom: 0.7rem;

							@media(--max-xmedium-viewport) {
								text-align: center;
							}
						}
						font-size: 20px;
						font-weight: 500;
						line-height: 1.3;
						margin-bottom: 0.7rem;

						@media(--max-xmedium-viewport) {
							text-align: center;
						}
					}
				}
				& .post-thumbnail {
					margin-bottom: 0.7rem !important;
				}
			}
		}
	}
	& .list-grid-ul {
		padding: 0;
		list-style: none;
		margin: 0;
		& li {
			border-bottom: 1px solid #ddd;
			padding-top: 0.7rem;
			& .post-title {
				& h3 {
					& > a {
						font-size: 20px;
						font-weight: 500;
						line-height: 1.3;
						margin-bottom: 0.7rem;

						@media(--max-xmedium-viewport) {
							text-align: center;
							order: 1;
						}
					}
					font-size: 20px;
					font-weight: 500;
					line-height: 1.3;
					margin-bottom: 0.7rem;

					@media(--max-xmedium-viewport) {
						text-align: center;
						display: flex;
						flex-direction: column;
						align-items: center;
					}

					& small {
						display: block;
						font-size: 14px;
						color: #8F9194;
						letter-spacing: 2px;
						margin-bottom: 5px;
					}
				}
			}
			& .post-thumbnail {
				margin-bottom: 0.7rem !important;
			}
		}
	}
	& .p-0 {
		padding: 0 !important;
	}
	& .pt-100 {
		padding-top: 100px;
	}
	& .d-flex {
		display: flex;
		flex-wrap: wrap;
	}
	& .icon-link {
		display: block;
		position: absolute;
		right: 10px;
		bottom: 5px;

		@media(--max-xmedium-viewport) {
			position: relative;
			right: 0;
			bottom: 0;
			order: 0 !important;
		}

		& i {
			background: #db3833;
			height: 20px;
			width: 20px;
			line-height: 20px;
			text-align: center;
			border-radius: 50%;
			color: #fff;
			font-size: 11px;
		}
	}
	& .archive-tiles.-medium {
		&:not(.-carousel) {
			& > .list-grid {
				& ul {
					& li {
						& .post-title {
							height: 95px;
							display: flex;
							align-items: center;
							position: relative;

							@media(--max-xmedium-viewport) {
								justify-content: center;
							}
						}
					}
				}
			}
		}
		& > .list-grid-ul {
			& > li {
				& .post-title {
					height: 95px;
					display: flex;
					align-items: center;
					position: relative;

					@media(--max-xmedium-viewport) {
						justify-content: center;
					}
				}
			}
		}
	}
	& .archive-tiles.-large {
		& > .list-grid-ul {
			& > li {
				& .post-title {
					height: 95px;
					display: flex;
					align-items: center;
					position: relative;

					@media(--max-xmedium-viewport) {
						justify-content: center;
					}
					& h3 {
						& a {
							font-size: 20px !important;

							@media(--max-xmedium-viewport) {
								order: 1;
							}
						}
					}
				}
			}
		}
		&:not(.-carousel) {
			& h3 {
				@media(--max-xmedium-viewport) {
					display: flex;
					flex-direction: column;
					align-items: center;
				}
				& a {
    			    @media(--max-xmedium-viewport) {
    				    display: flex;
    				    flex-direction: column;
    				    align-items: center;
    			    }
    			}
			}
		}
	}
	& .pre-load-cont {
		background: #000;
		padding: 100px 0 60px;
		& .section-head {
			color: #fff;
			background: #000;
		}
	}
	& .load-more-wrapper {
		text-align: center;
	}
	& .load-more {
		text-transform: uppercase;
		font-size: 24px;
		font-weight: 900;
		display: inline-block;
		border-radius: 0;
	}
	& .archive-tiles.-grid {
		& .list-grid-ul {
			align-items: flex-start;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
		}

		& > ul {
			& > li {
				@media(--max-xl2medium-viewport) {
					flex: 0 1 calc(100% - 0px) !important;
				}
			}
		}
	}
	& .pt-10 {
		padding-top: 10px;
	}
	& .auto-load-cont {
		font-size: 24px;
	}

	/* Media Query Part */
	& .w-75 {
		@media(--min-medium-viewport) {
			flex: 0 1 calc(50% - 15px) !important;
		}
		@media(--min-large-viewport) {
			flex: 0 1 calc(77% - 15px) !important;
		}
	}
	& .w-25 {
		@media(--min-medium-viewport) {
			flex: 0 1 calc(50% - 15px) !important;
		}
		@media(--min-large-viewport) {
			flex: 0 1 calc(25% - 15px) !important;
		}
	}
	& .w-60 {
		@media(--min-medium-viewport) {
			flex: 0 1 calc(50% - 15px) !important;
		}
		@media(--min-large-viewport) {
			flex: 0 1 calc(60% - 15px) !important;
		}
	}
	& .w-40 {
		@media(--min-medium-viewport) {
			flex: 0 1 calc(50% - 15px) !important;
		}
		@media(--min-large-viewport) {
			flex: 0 1 calc(40% - 15px) !important;
		}
	}
	& .w-67 {
		@media(--min-medium-viewport) {
			flex: 0 1 calc(50% - 15px) !important;
		}
		@media(--min-large-viewport) {
			flex: 0 1 calc(67% - 15px) !important;
		}
	}
	& .w-33 {
		@media(--min-medium-viewport) {
			flex: 0 1 calc(50% - 15px) !important;
		}
		@media(--min-large-viewport) {
			flex: 0 1 calc(35% - 15px) !important;
		}
	}
	& .pl-30 {
		@media(--min-large-viewport) {
			padding-right: 30px;
		}
	}
	& .pli-30 {
		@media(--min-medium-viewport) {
			padding-left: 30px;
		}
	}
	& .archive-tiles.-medium {
		& > ul {
			& > li {
				@media(--min-medium-viewport) {
					flex: 1 0 calc(33.33% - 15px);
					max-width: calc(33.33% - 15px);
				}
				@media(--min-large-viewport) {
					flex: 1 0 calc(33.33% - 15px);
					max-width: calc(33.33% - 15px);
				}
			}
		}
	}
	& .archive-tiles.-large {
		& > ul {
			& > li {
				@media(--min-medium-viewport) {
					flex: 1 0 calc(100% - 15px);
					max-width: calc(100% - 15px);
				}
				@media(--min-large-viewport) {
					flex: 1 0 calc(50% - 15px);
					max-width: calc(50% - 15px);
				}
				@media(--max-xl2medium-viewport) {
					flex: 0 1 calc(100% - 0px) !important;
				}
			}
		}
	}
	& .d-sm-none{
		@media(--max-xl2medium-viewport) {
			display: none;
		}
	}
	& .m-60{
		@media(--max-xl2medium-viewport) {
			flex: 0 1 calc(60% - 15px) !important;
		}
		@media(--max-xmedium-viewport) {
			flex: 0 1 calc(100% - 0px) !important;
		}
	}
	& .m-100{
		@media(--max-xl2medium-viewport) {
			flex: 0 1 calc(100% - 0px) !important;
		}
		@media(--max-xmedium-viewport) {
			flex: 0 1 calc(100% - 0px) !important;
		}
	}
	& .m-40{
		@media(--max-xl2medium-viewport) {
			flex: 0 1 calc(40%) !important;
			padding-left: 30px;
		}
		@media(--max-xmedium-viewport) {
			flex: 0 1 calc(100%) !important;
			padding-left: 0px;
		}
	}
}