.img-box {
	margin-bottom: 20px;
	img {
		width: 100%;
	}
}
aside {
	&.ad {
		&.-sticky {
			ul {
				&.article-sidebar-listing {
					margin: 0;
					padding: 0;
					margin-bottom: 30px;
					li {
						a {
							color: #000;
							font-size: 16px;
							line-height: 18px;
							display: block;
							text-decoration: none;
							font-size: 15px;
							line-height: 20px;
						}
					}
				}
			}
			.content-wrap {
				padding: 0;
				.section-head {
					font-size: 14px;
				}
			}
			.post-trending-articles {
				.section-head {
					text-align: left;
					&:after {
						display: block;
					}
				}
			}
		}
	}
}
aside.ad.-sticky ul.article-sidebar-listing li,ul.articleiinline-listing li {
	border-bottom: 1px solid #c1c0c0;
	padding: 15px 0;
	list-style-type: none;
}
ul {
	&.articleiinline-listing {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		li {
			width: calc(50% - 30px);
			a {
				color: #000;
				font-size: 16px;
				line-height: 18px;
				display: block;
				text-decoration: none;
			}
			&:last-child {
				border: none;
			}
		}
		.article-img {
			margin-bottom: 20px;
			img {
				width: 100%;
			}
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				width: 100%;
				&:last-child {
					border: none;
				}
			}
		}
		& > li {
			margin-right: 30px;
			border: none;
		}
	}
}
.section-head {
	&:after {
		background-color: #e12e21;
		height: 2px;
	}
}
.articles-meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}
p {
	&.author-meta-name {
		margin: 0;
		font-size: 14px;
		line-height: 18px !important;
		strong {
			font-size: 14px;
			line-height: 18px;
		}
	}
}
.author-meta {
	time {
		font-size: 14px;
		font-weight: 700;
		line-height: 18px;
	}
}
.description {
	p {
		font-size: 16px;
		font-weight: 400;
		&:empty {
			display: none !important;
		}
	}
}
.post-trending-articles {
	padding: 0;
	.post-tile {
		&.post {
			text-align: left;
			padding: 0px;
			margin: 10px;
			border-bottom: 1px solid #ccc;
			justify-content: center;

			@media screen and (max-width: 768px) {
				text-align: center;
			}

			p {
				margin-bottom: 10px;
			}
		}
	}
	.section-head {
		text-align: left;
	}
	&.content-wrap {
		&.mobile-article {
			padding: 40px 0px;
			margin: 20px 0px 20px 0px;
			border-top: 2px solid var(--brand-primary);
			border-bottom: 2px solid var(--brand-primary);
		}
	}
}

.post-tile.post:last-child {
	@media screen and (max-width: 768px) { 
		border-bottom: none;
	}
}

.entry-content {
	.description {
		.post-trending-articles {
			.post-tile {
				&.post {
					img {
						display: none;
						}
					}
				}
			}
		}
	}

	& h1 {
		@media screen and (max-width: 768px) { 
			text-align: center;			
		}		
	}
	
	& .articles-meta {
		@media screen and (max-width: 768px) { 
			display:block;
			text-align:center;
		}
	}
	& .share {
		@media screen and (max-width: 768px) { 
			text-align: center;
			width: 100%;
			margin: auto;
			display: block;
		}
	}
	& .post-meta {
		@media screen and (max-width: 768px) { 
			margin-bottom:20px;
		}
	}
	& .post-tag-items a{
		color: #cc1D23;
	}
	& .post-tags{
		justify-content:normal;
		margin-top: 10px;
		@media screen and (max-width: 768px) { 
			justify-content:center;
			align-items: center;
			margin-bottom: 2rem;
		}
		& .post-tag-items{
			@media screen and (max-width: 768px) { 
				width:unset;
			}
		}
	}


.post-trending-articles{
	& .section-head::after{		
		@media screen and (max-width: 768px) { 
			display: none;
		}
	}
	& .section-head{
		@media screen and (max-width: 768px) { 
			text-align: center;
		}
	}
	& .post-tile{
		p:first-child{
			font-weight: bold;
		}
		@media screen and (max-width: 768px) {
			border-bottom:1px solid lightgray;
			margin-top: 10px;
			text-align: center;
			font-size:12px ;
		}
	}
	@media screen and (max-width: 768px) { 
		border-top: 2px solid #cc1D23;
		border-bottom: 2px solid #cc1d23;
		margin: 20px 0px;
		padding: 20px;
	}
}
.archive-tiles.-list > div{
	display: block;
}

.post-title a{
	font-weight: 400;
}
.post-title-bold a{
	font-weight: 700;
}
.post-title p {
	margin-bottom: 15px;
	margin-top: 10px;
}

.img-container{
	@media screen and (max-width: 768px) {
		display: none;
	}
}