.featured__article--heading,
.featured__content--title {
	text-transform: uppercase;
}

.featured__article:hover .featured__article--heading,
.featured__content--block:hover .featured__content--title,
a:hover .highlights__community--title
{
	color: #ec008c;
}

.show__header {
	background-color: #ec008c;
}

@include bp(large) {

    .main {
        background-image: url("../../images/kvgs-wallpaper-2017.jpg");
        background-position: top center;
        background-repeat: no-repeat;
				background-color: #000000;
    }

}
//// September 2017 updates - Made in Detroit

.header__main.headroom
{background-color: transparent!important;background-image: url(../../images/KVGS-Top-Navigation5.jpg)!important; background-position: top center;background-size: cover!important;background-repeat: no-repeat;}

@media screen and (min-width: 768px)  {.header__main.headroom
{background-color: #ed008c!important;background-image: url(../../images/KVGS-Top-Navigation5.jpg)!important; background-position: top center;background-size: auto!important;}}

  .header__search
{ color: #ffffff;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  text-transform: uppercase!important;}

   .header__nav .format-fi > ul a.active, .header__nav .format-fi > ul a:focus, .header__nav .format-fi > ul a:hover,

.header__nav .format-fw > ul a.active, .header__nav .format-fw > ul a:focus, .header__nav .format-fw > ul a:hover,

.header__nav .format-sp > ul a.active, .header__nav .format-sp > ul a:focus, .header__nav .format-sp > ul a:hover,

.header__nav .sub-menu a.active, .header__nav .sub-menu a:focus, .header__nav .sub-menu a:hover, .ui-menu a.active, .ui-

menu a:focus, .ui-menu a:hover
{color: #ED008C!important;}
 .header__nav ul li
{
 background-color: #262262;

}

   .header__nav ul  a
{ color: #ffffff!important;
  }

.mobile-nav__toggle--span, .mobile-nav__toggle--span::after, .mobile-nav__toggle--span::before
  {background-color: #ffffff!important;}
