.top_header {
    @media (--max-small-viewport) {
        display: none;

    }    
	& .information {
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-bottom: 24px;

        @media (--max-xmedium-viewport) {
            margin-bottom: 17px;
        }
        
        & .information_content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
             & .thumbnail{
                flex-basis: auto;
                flex-shrink: 0;
                margin-bottom: 0px;                
                & .lazy-image {
                    border: 2px solid #e12e21;
                    border: 2px solid var(--brand-primary);
                    border-radius: 50%;
                    height: 100px;
                    margin: 0 auto;
                    width: 100px;

                    @media (--max-xmedium-viewport) {
                        width: 75px;
                        height: 75px;
                    }
                    @media (--max-xsmall-viewport) {
                        width: 45px;
                        height: 45px;
                    }
                }
             }
        }

            & .title_description {

                display: flex;
                align-items: center;
                justify-content: center;
                @media (--max-xlmedium-viewport) {
                   flex-wrap: wrap;
                }


                & h2 {                   
                    text-transform: uppercase;
                    color: #2c2e35;
                    font-weight: 800;
                    margin-bottom: 0px;
                    text-align: center;
                    margin-top: 0px;
                    @media (--max-xlmedium-viewport) {                        
                        width: 100%;
                    }

                    @media (--max-xmedium-viewport) {
                        width: 100%;
                    }
                   
                    }
                & .meta-fave-time{
                    font-size: 1.8rem;
                    text-transform: uppercase;
                    color: #2c2e35;
                    font-weight: 100;
                    margin-bottom: 0px;
                    text-align: center;
                    margin-top: 0px;
                    margin-left: 10px;
                    @media (--max-small-viewport) {
                        margin-left: 0px; 
                        font-size: 0.9rem;                       
                    }
                   
                }
            }
        
        & .social {
            display: flex;
            align-items: center;
            margin-top:0px;
            margin-left: 5px;
    
            & a {
                margin: 0px 12px;
                padding-right: 0;
                @media (--max-xmedium-viewport) {
                    margin: 0px 8px; 
                }                
            }
            & a:first-child {
                margin-left: 0px;
    
            }
            & a:last-child {
                margin-right: 0px;
    
            }
        }
    }
}
.single-show.content-wrap{
    max-width: 1420px;   
}

.top_mobile_header{
    display: none;     
    @media (--max-small-viewport) {
        display: block;
        & .position-relative{
            position: relative;
        }
    }
    & .cnavigation{        
            width: 100%;
            padding-left: 70px;
            margin: 0px;       
    }
    & img{
        height: 45px;
        width: 45px;
        border-radius: 50%;
    }
}
.mobile-navigation-logo{
    display: none;
    position: absolute;
    left: 5px;
    top: 3px; 
    @media (--max-small-viewport) {
        display: block;
    }
}
.custom-margin{
    @media (--max-small-viewport) {            
        & .post-info{
            padding: 0 1rem 0;
        }
    }
}
.show-about{
    @media (--max-small-viewport) {
        & .top_header {
            display: block !important;
            & .position-relative{
                display: none;
            }
            
        }
    }
}
